body {
  font-size: 25px;
  font-family: 'Secular One', sans-serif;
  background-color: #141414;
}

header {
  height: 60px;
  background-color: #141414;
  text-align: center;
}

li {
  display: inline-block;
  margin-right: 30px;
  margin-top: 14px;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #00ff00;
}

.non-active {
  color: #00c800;
}

main {
  text-align: center;
  height: 100%;
  background-color: #000000;
}

h1 {
  color: #00ff00;
}

h2 {
  color: #00ff00;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.skill {
  width: 32.5%;
  border: 5px solid #00ff00;
  margin-left: 5px;
  margin-bottom: 5px;
}

.progress-bar {
  height: 30px;
  background-color: #00ff00;
}

p {
  color: #00ff00;
}

footer {
  height: 100px;
  background-color: #141414;
  text-align: center;
}
