body {
    font-size: 25px;
    background-color: rgb(15, 15, 134);
    font-family: 'Secular One', sans-serif;
}

.main {
    width: 500px;
    height: 600px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(21, 104, 21);
}

h1 {
    color: white;
}

p {
    color: white;
}