@media only screen and (min-width: 480px) {
    body {
        font-size: 25px;
        background-color: rgb(15, 15, 134);
        font-family: 'Secular One', sans-serif;
    }
    
    .main {
        width: 480px;
        height: 580px;
        text-align: center;
        background-color: rgb(21, 104, 21);
    }
}

@media only screen and (min-width: 768px) {
    body {
        font-size: 25px;
        background-color: rgb(15, 15, 134);
        font-family: 'Secular One', sans-serif;
    }
    
    .main {
        width: 768px;
        height: 868px;
        text-align: center;
        background-color: rgb(21, 104, 21);
    }
}

@media only screen and (min-width: 992px) {
    body {
        font-size: 25px;
        background-color: rgb(15, 15, 134);
        font-family: 'Secular One', sans-serif;
    }
    
    .main {
        width: 992px;
        height: 1092px;
        text-align: center;
        background-color: rgb(21, 104, 21);
    }
}


@media only screen and (min-width: 1382px) {
    body {
        font-size: 25px;
        background-color: rgb(15, 15, 134);
        font-family: 'Secular One', sans-serif;
    }
    
    .main {
        width: 500px;
        height: 600px;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        background-color: rgb(21, 104, 21);
    }
}

h1 {
    color: white;
}

p {
    color: white;
}